
body {
    margin: 0 8px 0 8px;
    padding: 0 5px 0 5px;
    background-color: #000;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
p {
    font-size: 24px;
    color: #fff;
    font-weight: 100;
    line-height: 35px;
}
a {
    color: #ff0;
}
h1 {
    font-size: 38px;
    color: #fff;
    font-weight: 100;
}
h2 {
    font-size: 32px;
    color: #fff;
    font-weight: 100;
}
hr {
    border: solid #303030 1px;
}
hr.small-hr {
    width: 200px; 
    border: solid #252525 1px;
}
hr.row {
    border-right: 0;
    border-left: 0;
    width: 100%;
    margin: -0.5px;
}
.editButton {
    height: 35px;
    padding: 8px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #151515;
    border: solid 1px #303030;
    color: #CACACA;
    font-size: 12px;
    text-decoration: none;
    font-family: arial;
}
table,tbody,tr,td,th {
    display: block;
}
table:nth-child(even) {
    background-color: #090909;
}
table:nth-child(odd) {
    background-color: #000;
}
.nickname {
    margin: 0;
    margin-top: -10px;
    color: #808080;
    font-size: 16px;
    text-decoration: none;
}
.error {
    font-family: initial;
}
.gg {
    width: 100%;
    max-width: 400px;
    padding-top: 10px;
    position: absolute;
    left: 0;
}
.fade {
    color: #808080;
}
.small {
	font-size: 20px;
}
.tiny {
    font-size: 16px;
}
.green {
    color: #599B59;
}
.red {
    color: #8F3636;
}
.date {
    margin-top: 5px;
    font-size: 18px;
    color: #5F5F5F;
}
.marginUp {
	margin-top: -20px;
}
.noMargin {
    margin: 0;
}
.marginDown {
    margin-bottom: 5px;
}
#sticker {
    background-color: #000;
}
form.sortSelector {
    margin-top: 5px;
}
form.sortSelector input {
    height: 25px;
    padding: 0px 10px 0px 10px;
    background: rgb(36, 36, 36);
    border: solid 1px #303030;
    color: #D3D3D3;
    font-size: 13px;
    text-decoration: none;
}
form.updateForm {
    margin-top: -20px;
    margin-bottom: 30px;
}
form.updateForm input {
    width: 70%;
    height: 20px;
    padding: 5px;
    margin: 5px;
}
form.updateForm input[type="submit"] {
    width:74.5%;
    height: 35px;
    padding: 2px 20px 2px 20px;
    background: #242424;
    border: solid 1px #303030;
    color: #CACACA;
    font-size: 14px;
    text-decoration: none;
}
.aInput {
    height: 25px;
    padding: 4px 10px 4px 10px;
    background: rgb(28, 41, 66);
    border: solid 1px #303030;
    color: #D3D3D3;
    font-size: 13px;
    text-decoration: none;
    font-family: arial;
}
#spinnerHolder {
    position: absolute;
    left: 0;
    right: 0;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 50px auto;
}
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.vidHolder {
    position: fixed;
    width: 90%;
    left: 50%;
    top: 10px;
    z-index: 1;
    display: none;
}

.vid {
    width: 100%;
    position: relative;
    left: -50%;
}

#vidClose {
    position: relative;
    left: -51.8%;
    top: -10px;
    width: 100%;
}